body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #524D4D;;
    padding: 1rem 5rem;
    color: white;
    position: relative;
}

.brand-title {
    height: 60px;
    max-width: 200px;
    width: 100%;
}
.image{width: 100%;}
.navbar-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.navbar-links li {padding: 0 1rem;}
.login-link{display: none;}
.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 21px;
}
button{
    text-transform: capitalize;
    padding: 10px 20px;
    background: #FFA500;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    font-weight:400;
    cursor: pointer;
}
.bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.main{
    display: flex;
    align-items: center;
    gap: 50px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
   
    background-color: #FFA500;
    max-width: 700px;
    width: 80%; /* Could be more or less, depending on screen size */
}
.title{
    padding: 10px 20px;
    background-color: #8D8383;
    display: flex;
}
.title-text1{text-align: center;width: 100%;}
.title-text{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    color: black;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* form */
 .container{padding: 20px;}
 .subContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
 }
 .formContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .formLabel{
    font-family: Ubuntu;
    font-size: 23px;
    font-weight: 700;
    line-height: 36.77px;
    text-align: left;
    color: black;
 }
 .formInput{padding: 5px;}
 .periodBox{display: flex;justify-content: space-between;}
 .condition{
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 700;
    line-height: 22.98px;
    text-align: left;
    color: #000000;
 }
 .submitButton{
    border: 2px solid #000;
    border-radius: 10px;
    width: 40%;
    background: #8D8383;
 }
 .buttonBox{ display: flex;justify-content: center;}
 /*page1*/
 .page1{
    background: url("images/womanZim.png");
    padding: 20px;
    padding-bottom: 50px;
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
 }
 .page1Title{
    font-family: Radio Canada;
    font-size: 85px;
    font-weight: 700;
    line-height: 102px;
    text-align: center;
    color: #fff;
 }
 .page1ParagraphBox{
    margin-top: 50px;
    max-width: 380px;
    width: 100%;
 }
 .page1Paragraph{color: #fff;font-size: 22px;}
 .page1ButtonBox{
    display: flex;
    gap: 20px;
    margin-top: 30px;
 }
 .page1Button{
  background: transparent;
  border: 1px solid #FFA500;
  border-radius: 5px;
 }
 .page1Button:hover{background: #FFA500;}
 .box{
    position: relative;
    bottom: 25px;
    background-color: #FFA500;
    padding: 5px 70px;
    max-width: 300px;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    border-top: 2px solid #fff;
    display: flex;
    gap: 30px;
}
.box a{color: black;font-size: 20px;}
 /* page2 */
 .page2{padding: 50px 80px;}
 .gridText{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
    margin-top: 15px;
 }
 .gridBox{
    border-right: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .gridBox1{border-right: none;}
 .gridBox2{border-bottom: none;}
 /*page3*/
 .page3{
    background: url("images/boyZim.png");
    padding: 50px 10px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
 }
 .page3Title{
    font-family: Ubuntu;
    font-size: 49px;
    font-weight: 400;
    line-height: 56.3px;
    text-align: left;
    color: #FFA500;
 }  
 .page3Grid{
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    transition: transform 1s ease; 
 }
 .page3Grid:hover { transform: scale(1.1);}
 .page3Head{
    font-family: Radio Canada;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: -6px;
    text-align: left;
    color: #FFA500;
    text-align: center;
 }
 .page3Text{
    font-family: Radio Canada;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
    text-align: left;
    text-align: center;
    color: #B5AAAA;
 }
/*page4*/
.page4{
    background: #FFA500;
    width: 100%;
    height: auto;
    padding: 0 20px 50px 20px;
    display: flex;
    justify-content: center;
}
.page4main{
    position: relative;
    bottom: 100px;
    max-width: 1000px;
    width: 100%;
    background-color: #fff;
    /* padding: 20px; */
}
.page4grid{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.page4gridText1{
    font-family: Poppins;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
    
}
.page4gridText2{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
}
/*page5*/
.page5{background: #000;padding: 50px;}
.page5grid{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.page5paragraph{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    text-align: center;
    color: #FFA500;
}
/*footer*/
.footerMain{padding: 20px 50px;background-color: #524D4D;}
.footerGrid{margin-top: 20px;}
.footerText{
    font-family: Radio Canada;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    color: #FFA500;
    line-height: 30px;
}
.footerFunction{
    font-family: Radio Canada;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.footerFunctionBox{ display: flex;justify-content: space-around;}
.footerFunctionBox li{
    list-style: none;
    margin-bottom: 5px;
    font-family: Radio Canada;
    font-weight: 400;
    color: #fff;
    text-align: center;
}
.buttonsBox{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    padding: 0 30px;
    
}
.footerButton{
    border-radius:0px;
    margin: 0;
    padding: 5px 35px;
    font-size: 16px;
    line-height: normal;
}
.footerEndBox{ padding: 5px 20px; background: #FFA500;}
.footerEndText{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #000;
    margin-bottom: 0;
}
/*Classes section*/
/*page1*/
.classesPage1{
    background: url("images/Rectangle 55.png");
    padding: 50px 50px;
    background-size: cover; 
    background-position: center;
}
.blogPage1Title{
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
    font-size: 55px;
    letter-spacing: 2px;
}
.classesPage1Grid{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}
.classesPage1Text{
    margin-bottom: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.classesPage1btn{
    border-radius: 50px;
    background: brown;
}
/*classes page2*/
.classesPage2Title{
    text-align: center;
    font-family: Poppins;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: #000;
}
.classesPage2{
    background: rgba(255, 165, 0, 0.34);
    padding: 50px 50px;
}
.classesPage2Grid{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.classesPage2Btn{
    border-radius: 50px;
    padding: 5px 20px;
    font-size: 15px;
    background: rgba(77, 72, 72, 1);
}
/*Product page1*/
.productPage1{
    background: url("images/Rectangle\ 54product.png");
    padding: 50px 50px;
    background-size: cover; 
    background-position: center;
}
.productPage3{
    background: url("images/Rectangle 59.png");
    padding: 50px 50px;
    background-size: cover; 
    background-position: center;
}
/*blog page1*/
.blogPage1{
    font-family: Poppins;
font-size: 20px;
font-weight: 600;
text-align:justify;
}
/*blog page2*/
.blogPage2{
    padding: 50px;
    background-color: #000;
}
.blogPage2Grid{
    padding: 20px;
    background: rgba(217, 217, 217, 1);
    margin-top: 0;
}
.blogText{
    font-family: Poppins;
font-size: 22px;
font-weight: 700;
text-align: center;
}
.blogList{list-style: none;}
 @media (max-width: 500px) {
    .blogPage2{padding: 20px;}
    .blogPage1{font-size: 15px;}
    button{ font-size: 15px;}
    .productPage1{padding: 50px 20px;}
    .classesPage2Title{font-size: 30px;}
    .classesPage2{padding: 50px 20px;}
    .classesPage3{padding: 50px 20px;}
    .classesPage1{padding: 50px 20px;}
    .blogPage1Title{font-size: 33px;}
    .footerEndText{font-size: 15px;}
    .page5{padding: 50px 20px;}
    .title-text{font-size: 18px;}
    .submitButton{width: 100%;}
    .page1Button{font-size: 15px;}
    .page4gridText1{font-size: 20px;}
    .page4main{bottom: 50px;}
    .page4gridText2{font-size: 14px;}
    .gridText{font-size: 17px;}
    .page3Text{font-size: 17px;}
    .condition{font-size: 15px;}
    .formLabel{font-size: 18px;}
    .page3Head{font-size: 23px;}
    .page1ButtonBox{flex-direction: column; width: 70%;}
    .page3Title{font-size: 35px;}
    .box{display: none;}
 }
@media (max-width: 767px) {
    .footerMain{padding: 20px;}
    .footerText{font-size: 20px;}
    .footerButton{padding: 5px 20px;}
    .buttonsBox{padding: 0;}
    .page5paragraph{font-size: 13px;}
    .title-text{font-size: 18px;}
    .toggle-button {display: flex;position: absolute;left: 90%;}
    .page2{padding: 50px 10px;}
    .gridBox{border-right:none ; border-bottom: none;}
    .page1Title{font-size: 50px;line-height: normal;   }
    .page1ParagraphBox{text-align: center;}
    .page1Paragraph{font-size: 18px;}
    .navbar {padding: 1rem;}
    .main{display: flex;flex-direction: column;}
    .login_button{width: 50%;}
    .navbar-links {display: none;flex-direction: column;width: 100%;position: absolute;top: 60px;right: 0;background-color: #333;}
    .login-link{display: flex;justify-content: center;}
    .login{display: none;}
    .navbar-links ul {flex-direction: column;width: 100%;}
    .navbar-links li {text-align: center;padding: 1rem 0;width: 100%;}
    .navbar-links.active {display: flex; padding-bottom: 20px;}
}
@media (max-width: 870px) {
    .navbar {padding: 1rem}
}